<header class="mb-auto">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="float-md-start mb-0">
        <a class="btn fs-2 text-white fw-bold" href="/">بن قرهد</a>
      </h3>




      <% if (user!== null) { %>
        <div class="d-flex align-items-center">
        <p class="m-0 me-2">welcome👋<%= user.email %></p> 
        <a class=" fw-bold btn btn-light " href="/signout">sign out</a>
      </div>
       
       
        <% } else { %>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class=" fw-bold btn <%= currentPage=="welcome"?"text-white":null %> <%= currentPage=="login"?"btn-light":"text-white" %> " href="/login">log in</a>
            <a class=" fw-bold btn  <%= currentPage=="welcome"?"text-white":null %> <%= currentPage=="signup"?"btn-light":"text-white" %>" href="/sign-up">sign up</a>
          </nav>
         <% } %>







    
    </div>
  </header>