



<div style="background-color: #5c6057;" class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input value="دبوس عاكس /RP" type="radio" class="btn-check" name="q1" id="btnradio17" autocomplete="off" >
    <label class="btn btn-outline-light" for="btnradio17">دبوس عاكس</label>
  
    <input value="شفاف عاكس /RT" type="radio" class="btn-check" name="q1" id="btnradio27" autocomplete="off">
    <label class="btn btn-outline-light" for="btnradio27">شفاف عاكس</label>
  
    <input value="عاكس عاكس/RR" type="radio" class="btn-check" name="q1" id="btnradio37" autocomplete="off">
    <label class="btn btn-outline-light" for="btnradio37">عاكس عاكس</label>
  
    
    <input value="شفاف شفاف/TT" type="radio" class="btn-check" name="q1" id="btnradio47" autocomplete="off">
    <label class="btn btn-outline-light" for="btnradio47">شفاف شفاف</label>
  
  </div>
  
  
  
  
  <br><br>
  
  
  
  
  
  
  
  
  
  
  
  
       <div>
        <div class="col-md-6">
          <label for="inputGenderb" class="form-label">: اختر السماكة</label>
          <select name="inputGenderb" id="glassThickness" class="form-select">
           <option value="<%= arrM.glassThickness0?arrM.glassThickness0:arrM.glassThickness%>" selected hidden disabled><%= arrM.glassThickness0?arrM.glassThickness0:arrM.glassThickness%></option>
  
          <option value="42">42</option>
          <option value="23.5">23.5</option>
          <option value="21.5">21.5</option>
          <option value="24">24</option>
          <option value="19.5">19.5</option>
          <option value="22">22</option>
          <option value="20">20</option>


  
          </select>
     </div>  
  
  
  
          <div>
            <div class="col-md-6">
              <label for="glassColorCodeInside" class="form-label">: لون الزجاج الداخلي</label>
              <select  type="radio" name="glassColorCodeInside" id="glassColorCodeInside" class="form-select">
                <option value="<%=arrM.glassColorCode0?arrM.glassColorCode0:arrM.glassColorCodeInside%>" selected hidden disabled><%= arrM.glassColorCode0?arrM.glassColorCode0:arrM.glassColorCodeInside%></option>
                <option value="شفاف/transparent">شفاف/transparent</option>
                <option value="C1+">C1+</option>
                <option value="C1">C1</option>
                <option value="C2">C2</option>
                <option value="C3">C3</option>
                <option value="C4">C4</option>
                <option value="C5">C5</option>
                <option value="C6">C6</option>
                <option value="C7">C7</option>
                <option value="C8">C8</option>
                <option value="C9">C9</option>
                <option value="C10">C10-</option>
                <option value="C11">C11</option>
                <option value="C12">C12</option>
                <option value="C13">C13</option>
                <option value="C14">C14</option>
                <option value="C15">C15</option>
                <option value="C16">C16</option>
                <option value="C17">C17</option>
                <option value="C18">C18</option>
                <option value="C19">C19</option>
                <option value="C20">C20</option>
              </select>
         </div>  
  
       
  
         <div class="col-md-6">
          <label for="glassColorCodeOutside" class="form-label">: لون الزجاج الخارجي</label>
          <select  type="radio" name="glassColorCodeOutside" id="glassColorCodeOutside" class="form-select">
            <option value="<%=arrM.glassColorCode0?arrM.glassColorCode0:arrM.glassColorCodeOutside%>" selected hidden disabled><%= arrM.glassColorCode0?arrM.glassColorCode0:arrM.glassColorCodeOutside%></option>
            <option value="شفاف/transparent">شفاف/transparent</option>
            <option value="C1+">C1+</option>
            <option value="C1">C1</option>
            <option value="C2">C2</option>
            <option value="C3">C3</option>
            <option value="C4">C4</option>
            <option value="C5">C5</option>
            <option value="C6">C6</option>
            <option value="C7">C7</option>
            <option value="C8">C8</option>
            <option value="C9">C9</option>
            <option value="C10">C10-</option>
            <option value="C11">C11</option>
            <option value="C12">C12</option>
            <option value="C13">C13</option>
            <option value="C14">C14</option>
            <option value="C15">C15</option>
            <option value="C16">C16</option>
            <option value="C17">C17</option>
            <option value="C18">C18</option>
            <option value="C19">C19</option>
            <option value="C20">C20</option>
          </select>
     </div>  
    </div>  
  
  
  
    </div>
  </form>