<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <script src="./js/color-modes.js"></script>
    <link rel="stylesheet" href="./bootstrap-icons-1.10.5/font/bootstrap-icons.min.css" />
    <link rel="shortcut icon" href="./img/ali.png" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
    <meta name="generator" content="Hugo 0.112.5" />
    <title>Home page</title>

    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/dark-light.css"/>
    <link href="./css/sidebars.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/myStyle.css" />
  </head>
  <body data-skip="<%= arr.length %>">
    <%- include('./components/dark-light.ejs') %> 

    <main class="d-flex flex-nowrap">
      <%- include('./components/sidebar.ejs', {currentPage:"index"}) %>

      <section class="w-100">
        <%- include('./components/navbar.ejs') %>

        <!-- شريط الفلترة -->
        <div class="container mt-4">
          <form id="filter-form" class="row g-3">
            <div class="col-md-4">
              <input type="text" class="form-control" id="firstNamecustomer" placeholder="اسم العميل">
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" id="phoneNumber" placeholder="رقم الجوال">
            </div>
            <div class="col-md-4">
              <select id="branch" class="form-select">
                <option value="" selected>اختر الفرع</option>
                <option value="خميس مشيط">خميس مشيط</option>
                <option value="جازان">جازان</option>
              </select>
            </div>
            <div class="col-md-4">
              <input type="date" class="form-control" id="createdAt">
            </div>
            <div class="col-md-4">
              <input type="number" class="form-control" id="orderNumber" placeholder="رقم الطلب">
            </div>
            <div class="col-12">
              <button type="button" id="filter-btn" class="btn btn-primary">تصفية</button>
            </div>
          </form>
        </div>

        <div class="container mt-4 text-end">
          <!-- عدد العملاء -->

          <p class=" ">
           
            <span class="fw-medium fs-6">Customers :</span> <%= totalCount %>
            
          </p>

        </div>
        
                <!-- الجدول -->
        <table style="width: 99%" class="text-center mx-auto table mt-5 table-striped table-bordered">
          <% if (arr.length == 0) { %>
            <h1 style="text-align: center; margin-top: 4rem;">لا توجد بيانات</h1>
          <% } %>
          <% if (arr.length > 0) { %>
            <thead>
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Full Name</th>
                <th scope="col">Branch</th>
                <th scope="col">phone Number</th>

                <th scope="col">Customer Add Date</th>
                <th scope="col">Last updated</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
          <% } %>
          <tbody id="kk" data-skip="<%= arr.length %>">
            <% arr.forEach((item, index) => { %>
              <tr class="user-item" data-id="<%= item._id %>">
                <!-- <th scope="row"><%=// index + 1 %></th> -->
                <td><%= item.firstNamecustomer %> <%= item.lastNamecustomer %></td>
                <td><%= item.branch %></td>
                <td><%= item.phoneNumber %></td>

                <td>
                  <%= moment(item.createdAt).format('YYYY-MM-DD') %> 
                </td>

                <td>
                  <%= moment(item.updatedAt).format('YYYY-MM-DD') %> 
                  (<%= moment(item.updatedAt).fromNow() %>)
                </td>
                <td>
                  <a class="btn btn-primary btn-sm" href="/view/<%= item._id %>" data-bs-toggle="tooltip" data-bs-title="View details" data-bs-placement="top">
                    <i class="bi bi-arrow-right"></i>
                  </a>
                  <a class="btn btn-primary btn-sm" href="./edit/<%= item._id %>" data-bs-toggle="tooltip" data-bs-title="Edit user" data-bs-placement="top">
                    <i class="bi bi-pencil"></i>
                  </a>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>

        <button id="load-more-btn" class="btn btn-primary btn-lg d-block mx-auto my-4" data-limit="<%= limit %>" data-skip="<%= skip %>">
          <i class="bi bi-plus-circle"></i> عرض المزيد
        </button>

        <script src="./js/bootstrap.bundle.min.js"></script>
        <script src="./js/sidebars.js"></script>
        <script src="./js/main.js"></script>

        <script>
          const userTable = document.getElementById('kk');
          let skip = parseInt(userTable.getAttribute('data-skip'));
          let limit = 10;

          const loadMoreBtn = document.getElementById('load-more-btn');
          const filterBtn = document.getElementById('filter-btn');

    
          function loadMoreUsers() {
  fetch(`/home?limit=${limit}&skip=${skip}`)
    .then(response => response.text())
    .then(html => {
      const tempDiv = document.createElement('div');
      tempDiv.innerHTML = html;
      const newUsers = tempDiv.querySelectorAll('.user-item');
      const userList = document.getElementById('kk');
      
      newUsers.forEach(userItem => {
        const userId = userItem.getAttribute('data-id');
        if (!userList.querySelector(`[data-id="${userId}"]`)) {
          userList.appendChild(userItem);
        }
      });

      if (newUsers.length < limit) {
        loadMoreBtn.style.display = 'none';
      } else {
        skip += limit;
        userTable.setAttribute('data-skip', skip);
      }
    })
    .catch(err => console.error(err));
}



          function applyFilters() {
            const params = new URLSearchParams();
            const firstNamecustomer = document.getElementById('firstNamecustomer').value;
            const phoneNumber = document.getElementById('phoneNumber').value;
            const branch = document.getElementById('branch').value;
            const createdAt = document.getElementById('createdAt').value;
            const orderNumber = document.getElementById('orderNumber').value;

            if (firstNamecustomer) params.append('firstNamecustomer', firstNamecustomer);
            if (phoneNumber) params.append('phoneNumber', phoneNumber);
            if (branch) params.append('branch', branch);
            if (createdAt) params.append('createdAt', createdAt);
            if (orderNumber) params.append('orderNumber', orderNumber);

            fetch(`/home?${params.toString()}`)
              .then(response => response.text())
              .then(html => {
                const tempDiv = document.createElement('div');
                tempDiv.innerHTML = html;
                const newUsers = tempDiv.querySelectorAll('.user-item');
                const userList = document.getElementById('kk');
                userList.innerHTML = '';
                newUsers.forEach(userItem => userList.appendChild(userItem));
                loadMoreBtn.style.display = newUsers.length < limit ? 'none' : 'block';
              })
              .catch(err => console.error(err));
          }

          loadMoreBtn.addEventListener('click', loadMoreUsers);
          filterBtn.addEventListener('click', applyFilters);
        </script>
      </section>
    </main>
  </body>
</html>