<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <script src="../js/color-modes.js"></script>
    <link rel="stylesheet" href="../bootstrap-icons-1.10.5/font/bootstrap-icons.min.css"/>
    <link rel="shortcut icon" href="../img/ali.png" type="image/x-icon">

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors"/>
    <meta name="generator" content="Hugo 0.112.5"/>
    <title>Home page</title>
    <link rel="stylesheet" href="../css/overlay.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/dark-light.css"/>
    <link href="../css/sidebars.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/myStyle.css"/>
    <!-- تضمين مكتبة jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <!-- تضمين محتوى overlay.ejs -->
    <%- include('../components/overlay.ejs') %>
    <%- include('../components/dark-light.ejs') %>
    <main class="d-flex flex-nowrap">
        <%- include('../components/sidebar.ejs', {currentPage:"add"}) %>
        <section class="w-100">
            <%- include('../components/navbar.ejs') %>
            <form action="/user/add.html" method="post" class="mx-0 row gx-3 gy-4 mt-3">
                <div class="col-md-6">
                    <label for="inputfirstName4" class="form-label">First Name: </label>
                    <input name="firstNamecustomer" placeholder="First Name..." type="text" class="form-control" id="inputfirstName4"/>
                </div>
                <div class="col-md-6">
                    <label for="inputlastName4" class="form-label">Last Name:</label>
                    <input name="lastNamecustomer" placeholder="Last Name..." type="text" class="form-control" id="inputlastName4"/>
                </div> 
                <div class="col-md-6">
                    <label for="inputtele4" class="form-label">Telephone:</label>
                    <input name="phoneNumber" placeholder="05XXXXXXXX" type="number" class="form-control" id="inputtele4"/>
                </div>
                <input name="salesEmployeeId" type="hidden" value="<%= jwt.id %>"/>
                <input name="salesEmployeeName" type="hidden" value="<%= jwt.name %>"/>
                <input name="salesEmployeeUserName" type="hidden" value="<%= jwt.userName %>"/>
                <%- include('../components/country_list.ejs') %>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </section>
    </main>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/sidebars.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/overlay.js"></script>
</body>
</html>
