<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>

<style>
/* زر التركيب الخارجي */
.checkbox-wrapper-10 .tgl {
  display: none;
}

.checkbox-wrapper-10 .tgl,
  .checkbox-wrapper-10 .tgl:after,
  .checkbox-wrapper-10 .tgl:before,
  .checkbox-wrapper-10 .tgl *,
  .checkbox-wrapper-10 .tgl *:after,
  .checkbox-wrapper-10 .tgl *:before,
  .checkbox-wrapper-10 .tgl + .tgl-btn {
  box-sizing: border-box;
}

.checkbox-wrapper-10 .tgl::-moz-selection,
  .checkbox-wrapper-10 .tgl:after::-moz-selection,
  .checkbox-wrapper-10 .tgl:before::-moz-selection,
  .checkbox-wrapper-10 .tgl *::-moz-selection,
  .checkbox-wrapper-10 .tgl *:after::-moz-selection,
  .checkbox-wrapper-10 .tgl *:before::-moz-selection,
  .checkbox-wrapper-10 .tgl + .tgl-btn::-moz-selection,
  .checkbox-wrapper-10 .tgl::selection,
  .checkbox-wrapper-10 .tgl:after::selection,
  .checkbox-wrapper-10 .tgl:before::selection,
  .checkbox-wrapper-10 .tgl *::selection,
  .checkbox-wrapper-10 .tgl *:after::selection,
  .checkbox-wrapper-10 .tgl *:before::selection,
  .checkbox-wrapper-10 .tgl + .tgl-btn::selection {
  background: none;
}

.checkbox-wrapper-10 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrapper-10 .tgl + .tgl-btn:after,
  .checkbox-wrapper-10 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.checkbox-wrapper-10 .tgl + .tgl-btn:after {
  left: 0;
}

.checkbox-wrapper-10 .tgl + .tgl-btn:before {
  display: none;
}

.checkbox-wrapper-10 .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after,
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
  display: inline-block;
  transition: all 0.4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4px;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #7FC6A6;
  transform: rotateY(-180deg);
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
  background: #FF3A19;
  content: attr(data-tg-off);
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn:active:before {
  transform: rotateY(-20deg);
}

.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:before {
  transform: rotateY(180deg);
}

.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:after {
  transform: rotateY(0);
  left: 0;
  background: #43750d;
}

.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:active:after {
  transform: rotateY(20deg);
}







/* تشك بوكس كلر */


.checkbox-wrapper-16 *,
  .checkbox-wrapper-16 *:after,
  .checkbox-wrapper-16 *:before {
  box-sizing: border-box;
}

.checkbox-wrapper-16 .checkbox-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #2260ff;
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #2260ff;
  border-color: #2260ff;
  color: #fff;
  content: "✓";
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-icon,
  .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-label {
  color: #2260ff;
}

.checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  min-height: 7rem;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  /* background-color: #fff; */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.checkbox-wrapper-16 .checkbox-tile:before {
  content: "";
  font-size: 12px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #b5bfd9;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.checkbox-wrapper-16 .checkbox-tile:hover {
  border-color: #2260ff;
}

.checkbox-wrapper-16 .checkbox-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-icon {
  transition: 0.375s ease;
  color: #494949;
}

.checkbox-wrapper-16 .checkbox-icon svg {
  width: 3rem;
  height: 3rem;
}

.checkbox-wrapper-16 .checkbox-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
}



</style>



    <script src="../js/color-modes.js"></script>
   
    <link
      rel="stylesheet"
      href="../bootstrap-icons-1.10.5/font/bootstrap-icons.min.css"
    />
    <link rel="shortcut icon" href="../img/ali.png" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.112.5" />
    <title>Home page</title>
   
    <link rel="stylesheet" href="../css/overlay.css">

    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <!-- استايل الي يغمق ويفتح الشاشة -->
    <link rel="stylesheet" href="../css/dark-light.css"/>
   

    <!-- Custom styles for this template -->
    <link href="../css/sidebars.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/myStyle.css" />
    <!-- styles img Checkbox -->
    <link rel="stylesheet" href="../css/imgCheckbox.css">
  </head>
  <body>

    <%- include('../components/overlay.ejs') %>


    <!-- اخزن فيه اليدي عشان نطعة في الجافا سكربت الي في هذي الصفحة -->
    <!--ايقونات  -->
    <%- include('../components/dark-light.ejs') %> 


    <main class="d-flex flex-nowrap ">
      <!-- الواجهه الي على اليمين -->
      <%- include('../components/sidebar.ejs', {currentPage:null}) %> <!--ونحط عليها شرط هناك اذا من الندس حط الطلمة لون ازر واذا ماهو من الاندكس لا تحط شي طبعا استقبلناها هناك تقدر تشوفها sidebar.ejs طبعا الي بعد الفاصله ميزه من الاي جي اس عشان نرسل كي وفاليو لصفحة -->

      <section class="w-100">
      <%- include('../components/navbar.ejs') %>

        <table
          style="width: 99%"
          class="text-center mx-auto table mt-5 table-striped table-bordered"
        >
        <!-- هذا الشرط عشان اذا طول الاري حقة الداتا فاضية يطبع لات توجد بينات -->
       

        <!-- هذا الشرط عشان يعرض الصف العلوي من الجدول اذا فيه بينات في قاعدة البينات -->
     <h2>:المواصفات الأساسية للطلب </h2>

     <br>  <br> <hr>  <br>
        
   
     <div class="col-md-6">
        <label for="branch" class="form-label"><span style="color: red;">*</span>:الفرع</label>
        <select name="branch" id="branch" class="form-select">
            <option value="" selected hidden disabled>اختر ...</option>
            <option value="خميس مشيط" <%= order.branch === 'خميس مشيط' ? 'selected' : '' %>>خميس مشيط</option>
            <option value="جازان" <%= order.branch === 'جازان' ? 'selected' : '' %>>جازان</option>
        </select>
        <span id="branchError" style="color: red; display: none;">يرجى اختيار الفرع.</span>
    </div>
  
  <br><hr><br>
  
  <div class="col-md-6">
      <label for="inputage4" class="form-label"><span style="color: red;">*</span>:الموقع <i class="bi bi-geo-fill"></i></label>
      <input
      name="location"
      placeholder="https://maps.app.goo.gl/XXXXXXXXXX"
      type="text"
      class="form-control"
      id="locationId"
      value="<%= order.location %>"
  />
      <span id="locationError" style="color: red; display: none;">يرجى إدخال رابط صالح لخريطة Google.</span>
  </div>
              <br> 

              <!-- <div class="btn-group col-md-6 mt-3" role="group" aria-label="Basic checkbox toggle button group">
                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck1">Fixed</label>
              
 
              </div> -->

          
             
        
           

<br><br><hr><br>   

<h4>:أختر نوع قطاع الألمنيوم</h4>
<!-- ازرار اظهار قوائم انواع قطاعات الألمنيوم -->
<div class="btn-group col-md-6 mt-3" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio5" id="btnradio11" autocomplete="off" checked>
  <label class="btn btn-outline-light" for="btnradio11"> 1</label>

  <input type="radio" class="btn-check" name="btnradio5" id="btnradio22" autocomplete="off">
  <label class="btn btn-outline-light" for="btnradio22"> 2</label>

  <input type="radio" class="btn-check" name="btnradio5" id="btnradio33" autocomplete="off">
  <label class="btn btn-outline-light" for="btnradio33"> 3</label>
</div>

<!--// ازرار اظهار قوائم انواع قطاعات الألمنيوم //-->




              <!-- القائمة 1 انواع الألمنيوم  -->

 <!-- القائمة 1 انواع الألمنيوم  -->
<form class="row g-3">
    <div id="div11" class="checkbox mt-5 " role="group" aria-label="Basic radio toggle button group">
        <label class="checkbox-wrapper">
            <input value="GOLF 10" type="radio" class="checkbox-input" name="c2" autocomplete="off"
                <%= order.aluminumCode0 === 'GOLF 10' ? 'checked' : '' %> />
            <span class="checkbox-tile">
                <span class="checkbox-icon">
                    <!-- SVG icon here -->
                </span>
                <span class="checkbox-label">GOLF10</span>
            </span>
        </label>

        <label class="checkbox-wrapper">
            <input value="GOLF 12" type="radio" class="checkbox-input" name="c2" autocomplete="off"
                <%= order.aluminumCode0 === 'GOLF 12' ? 'checked' : '' %> />
            <span class="checkbox-tile">
                <span class="checkbox-icon">
                    <!-- SVG icon here -->
                </span>
                <span class="checkbox-label">GOLF12</span>
            </span>
        </label>

        <label class="checkbox-wrapper">
            <input value="ROYAL 2" type="radio" class="checkbox-input" name="c2" autocomplete="off"
                <%= order.aluminumCode0 === 'ROYAL 2' ? 'checked' : '' %> />
            <span class="checkbox-tile">
                <span class="checkbox-icon">
                    <!-- SVG icon here -->
                </span>
                <span class="checkbox-label">ROYAL 2</span>
            </span>
        </label>

        <label class="checkbox-wrapper">
            <input value="ROYAL 3" type="radio" class="checkbox-input" name="c2" autocomplete="off"
                <%= order.aluminumCode0 === 'ROYAL 3' ? 'checked' : '' %> />
            <span class="checkbox-tile">
                <span class="checkbox-icon">
                    <!-- SVG icon here -->
                </span>
                <span class="checkbox-label">ROYAL 3</span>
            </span>
        </label>
    </div>

    <!-- القائمة 2 انواع الألمنيوم  -->
    <div id="div22" class="checkbox mt-5" role="group" aria-label="Basic radio toggle button group">
        <label class="checkbox-wrapper">
            <input value="Sliding D10" type="radio" class="checkbox-input" name="c2" autocomplete="off"
                <%= order.aluminumCode0 === 'Sliding D10' ? 'checked' : '' %> />
            <span class="checkbox-tile">
                <span class="checkbox-icon">
                    <!-- SVG icon here -->
                </span>
                <span class="checkbox-label">Sliding D10</span>
            </span>
        </label>

        <label class="checkbox-wrapper">
            <input value="slidingD10p" type="radio" class="checkbox-input" name="c2" autocomplete="off"
                <%= order.aluminumCode0 === 'slidingD10p' ? 'checked' : '' %> />
            <span class="checkbox-tile">
                <span class="checkbox-icon">
                    <!-- SVG icon here -->
                </span>
                <span class="checkbox-label">Sliding D10+</span>
            </span>
        </label>

        <label class="checkbox-wrapper">
            <input value="Sliding D12" type="radio" class="checkbox-input" name="c2" autocomplete="off"
                <%= order.aluminumCode0 === 'Sliding D12' ? 'checked' : '' %> />
            <span class="checkbox-tile">
                <span class="checkbox-icon">
                    <!-- SVG icon here -->
                </span>
                <span class="checkbox-label">Sliding D12</span>
            </span>
        </label>

        <label class="checkbox-wrapper">
            <input value="Sliding S" type="radio" class="checkbox-input" name="c2" autocomplete="off"
                <%= order.aluminumCode0 === 'Sliding S' ? 'checked' : '' %> />
            <span class="checkbox-tile">
                <span class="checkbox-icon">
                    <!-- SVG icon here -->
                </span>
                <span class="checkbox-label">Sliding S</span>
            </span>
        </label>
    </div>

    <!-- القائمة 3 انواع الألمنيوم  -->
    <div id="div33" class="checkbox mt-5" role="group" aria-label="Basic radio toggle button group">
        <label class="checkbox-wrapper">
            <input value="Fixed S10" type="radio" class="checkbox-input" name="c2" autocomplete="off"
                <%= order.aluminumCode0 === 'Fixed S10' ? 'checked' : '' %> />
            <span class="checkbox-tile">
                <span class="checkbox-icon">
                    <!-- SVG icon here -->
                </span>
                <span class="checkbox-label">Fixed S10</span>
            </span>
        </label>

        <label class="checkbox-wrapper">
            <input value="Fixed S4" type="radio" class="checkbox-input" name="c2" autocomplete="off"
                <%= order.aluminumCode0 === 'Fixed S4' ? 'checked' : '' %> />
            <span class="checkbox-tile">
                <span class="checkbox-icon">
                    <!-- SVG icon here -->
                </span>
                <span class="checkbox-label">Fixed S4</span>
            </span>
        </label>

        <label class="checkbox-wrapper">
            <input value="Fixed D10" type="radio" class="checkbox-input" name="c2" autocomplete="off"
                <%= order.aluminumCode0 === 'Fixed D10' ? 'checked' : '' %> />
            <span class="checkbox-tile">
                <span class="checkbox-icon">
                    <!-- SVG icon here -->
                </span>
                <span class="checkbox-label">Fixed D10</span>
            </span>
        </label>

        <label class="checkbox-wrapper">
            <input value="Fixed D4" type="radio" class="checkbox-input" name="c2" autocomplete="off"
                <%= order.aluminumCode0 === 'Fixed D4' ? 'checked' : '' %> />
            <span class="checkbox-tile">
                <span class="checkbox-icon">
                    <!-- SVG icon here -->
                </span>
                <span class="checkbox-label">Fixed D4</span>
            </span>
        </label>
    </div>
<!-- </form> -->


                <br>
  
                <div>
                    <div class="col-md-6">
                        <label for="thickness" class="form-label">:اختر سماكة الألمنيوم</label>
                        <select name="thickness" id="thickness" class="form-select">
                            <option value="" selected hidden disabled>السماكة ...</option>
                            <option value="1.7" <%= order.aluminumThickness0 === '1.7' ? 'selected' : '' %>>1.7</option>
                            <option value="1.6" <%= order.aluminumThickness0 === '1.6' ? 'selected' : '' %>>1.6</option>
                            <option value="1.3" <%= order.aluminumThickness0 === '1.3' ? 'selected' : '' %>>1.3</option>
                            <option value="1.2" <%= order.aluminumThickness0 === '1.2' ? 'selected' : '' %>>1.2</option>
                        </select>
                    </div>
                  </div>
  


            </form>


<br><br> <hr> <br>

<h4>:اختر لون الألمنيوم</h4><br>

<!-- اختيار لون الألمنيوم -->


<!-- ألون الألمنيوم المختصرة -->






  <div class="col-md-6">
    <label for="inputage4" class="form-label">:رمز اللون </label>
    <input
    name="glassColorCode"
      placeholder="BM-###"
      type="text"
      class="form-control"
      id="glassColorCodeId"
      value="<%=order.aluminumColorCode0%>"
    />
  </div>

<br><br><hr>

<h4>:مواصفات الزجاج</h4>
<br>

<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input value="دبوس عاكس /RP" type="radio" class="btn-check" name="q1" id="btnradio17" autocomplete="off" 
      <%= order.glasstype0 === 'دبوس عاكس /RP' ? 'checked' : '' %> >
    <label class="btn btn-outline-light" for="btnradio17">دبوس عاكس</label>
  
    <input value="شفاف عاكس /RT" type="radio" class="btn-check" name="q1" id="btnradio27" autocomplete="off"
      <%= order.glasstype0 === 'شفاف عاكس /RT' ? 'checked' : '' %> >
    <label class="btn btn-outline-light" for="btnradio27">شفاف عاكس</label>
  
    <input value="عاكس عاكس/RR" type="radio" class="btn-check" name="q1" id="btnradio37" autocomplete="off"
      <%= order.glasstype0 === 'عاكس عاكس/RR' ? 'checked' : '' %> >
    <label class="btn btn-outline-light" for="btnradio37">عاكس عاكس</label>
  
    <input value="شفاف شفاف/TT" type="radio" class="btn-check" name="q1" id="btnradio47" autocomplete="off"
      <%= order.glasstype0 === 'شفاف شفاف/TT' ? 'checked' : '' %> >
    <label class="btn btn-outline-light" for="btnradio47">شفاف شفاف</label>
  </div>



<br><br>












     <div>
        <div class="col-md-6">
            <label for="inputGender" class="form-label">: اختر السماكة</label>
            <select name="glassThickness" id="glassThickness" class="form-select">
                <option value="" selected hidden disabled>اختر ...</option>
                <option value="5.5" <%= order.glassThickness0 === '5.5' ? 'selected' : '' %>>5.5</option>
                <option value="6" <%= order.glassThickness0 === '6' ? 'selected' : '' %>>6</option>
            </select>
        </div>



        <div>
            <div class="col-md-6">
                <label for="glassColorCode" class="form-label">:جميع الألون</label>
                <select name="glassColorCode" id="glassColorCode" class="form-select">
                    <option value="" selected hidden disabled>اختر ...</option>
                    <option value="شفاف/transparent" <%= order.glassColorCode0 === 'شفاف/transparent' ? 'selected' : '' %>>شفاف/transparent</option>
                    <option value="C1+" <%= order.glassColorCode0 === 'C1+' ? 'selected' : '' %>>C1+</option>
                    <option value="C1" <%= order.glassColorCode0 === 'C1' ? 'selected' : '' %>>C1</option>
                    <option value="C2" <%= order.glassColorCode0 === 'C2' ? 'selected' : '' %>>C2</option>
                    <option value="C3" <%= order.glassColorCode0 === 'C3' ? 'selected' : '' %>>C3</option>
                    <option value="C4" <%= order.glassColorCode0 === 'C4' ? 'selected' : '' %>>C4</option>
                    <option value="C5" <%= order.glassColorCode0 === 'C5' ? 'selected' : '' %>>C5</option>
                    <option value="C6" <%= order.glassColorCode0 === 'C6' ? 'selected' : '' %>>C6</option>
                    <option value="C7" <%= order.glassColorCode0 === 'C7' ? 'selected' : '' %>>C7</option>
                    <option value="C8" <%= order.glassColorCode0 === 'C8' ? 'selected' : '' %>>C8</option>
                    <option value="C9" <%= order.glassColorCode0 === 'C9' ? 'selected' : '' %>>C9</option>
                    <option value="C10" <%= order.glassColorCode0 === 'C10' ? 'selected' : '' %>>C10-</option>
                    <option value="C11" <%= order.glassColorCode0 === 'C11' ? 'selected' : '' %>>C11</option>
                    <option value="C12" <%= order.glassColorCode0 === 'C12' ? 'selected' : '' %>>C12</option>
                    <option value="C13" <%= order.glassColorCode0 === 'C13' ? 'selected' : '' %>>C13</option>
                    <option value="C14" <%= order.glassColorCode0 === 'C14' ? 'selected' : '' %>>C14</option>
                    <option value="C15" <%= order.glassColorCode0 === 'C15' ? 'selected' : '' %>>C15</option>
                    <option value="C16" <%= order.glassColorCode0 === 'C16' ? 'selected' : '' %>>C16</option>
                    <option value="C17" <%= order.glassColorCode0 === 'C17' ? 'selected' : '' %>>C17</option>
                    <option value="C18" <%= order.glassColorCode0 === 'C18' ? 'selected' : '' %>>C18</option>
                    <option value="C19" <%= order.glassColorCode0 === 'C19' ? 'selected' : '' %>>C19</option>
                    <option value="C20" <%= order.glassColorCode0 === 'C20' ? 'selected' : '' %>>C20</option>
                </select>
            </div>
            



  </div>
    <br>

 
  
 




   
          
<!-- mx-auto -->
                  <div class="d-grid gap-2 col-6  mt-5">

                    <!-- href="/measurement/<%=// arrM._id %>" -->
                    <a

                    data-bs-toggle="tooltip"
                    data-bs-title="next"
                    data-bs-placement="top"
                    class="btn btn-primary "
                    
                    id="next"
                    >التالي<i class="bi bi-arrow-right"></i></a>

                  </div>

<h1 id="1"></h1>
      </section>
      
    </main>


   



    <script src="../js/bootstrap.bundle.min.js"></script>

    <script src="../js/sidebars.js"></script>

    <script src="../js/main.js"></script>


    <script src="../js/overlay.js"></script>



    
    





  </body>
<script>

  // الاقائمة
            const div1 = document.getElementById("div1")
            const div2 = document.getElementById("div2")
            const div3 = document.getElementById("div3")

            div2.style.setProperty("display", "none", "important")
            div3.style.setProperty("display", "none", "important")

            // كنترول الزر الأول
            document.getElementById("btnradio1").addEventListener("change",function(){
                
                if (this.checked) {
                console.log("Checkbox is checked1111..");
                
                div2.style.setProperty("display", "none", "important")
                div3.style.setProperty("display", "none", "important")
                div1.style.setProperty("display", "block", "important")


              
              } else  {
                console.log("Checkbox is not checked..");

              }


            })



            // كنترول الزر الثاني


            document.getElementById("btnradio2").addEventListener("change",function(){
              
                if (this.checked) {
                console.log("Checkbox is checked22222..");
              
              div1.style.setProperty("display", "none", "important")
                div3.style.setProperty("display", "none", "important")
                div2.style.setProperty("display", "block", "important")
                // document.getElementById("ok1").value="ok1"
            
              } else  {
                console.log("Checkbox is not checked..");
               
                
              }


            })




            // كنترول الزر الثالث


            document.getElementById("btnradio3").addEventListener("change",function(){
              
              if (this.checked) {
              console.log("Checkbox is checked33333..");

              div1.style.setProperty("display", "none", "important")
              div2.style.setProperty("display", "none", "important")
              div3.style.setProperty("display", "block", "important")


              
            } else  {
              console.log("Checkbox is not checked..");

              
            }


            })










</script>
 


<!-- قأمة انواع قطاعة الألمنيوم -->
<script>







  // الاقائمة
            const div11 = document.getElementById("div11")
            const div22 = document.getElementById("div22")
            const div33 = document.getElementById("div33")

            div22.style.setProperty("display", "none", "important")
            div33.style.setProperty("display", "none", "important")

            // كنترول الزر الأول
            document.getElementById("btnradio11").addEventListener("change",function(){
                
                if (this.checked) {
                console.log("Checkbox is checked1111..");
                
                div22.style.setProperty("display", "none", "important")
                div33.style.setProperty("display", "none", "important")
                div11.style.setProperty("display", "block", "important")


              
              } else  {
                console.log("Checkbox is not checked..");

              }


            })



            // كنترول الزر الثاني


            document.getElementById("btnradio22").addEventListener("change",function(){
              
                if (this.checked) {
                console.log("Checkbox is checked22222..");
              
              div11.style.setProperty("display", "none", "important")
                div33.style.setProperty("display", "none", "important")
                div22.style.setProperty("display", "block", "important")
                // document.getElementById("ok1").value="ok1"
            
              } else  {
                console.log("Checkbox is not checked..");
               
                
              }


            })




            // كنترول الزر الثالث


            document.getElementById("btnradio33").addEventListener("change",function(){
              
              if (this.checked) {
              console.log("Checkbox is checked33333..");

              div11.style.setProperty("display", "none", "important")
              div22.style.setProperty("display", "none", "important")
              div33.style.setProperty("display", "block", "important")


              
            } else  {
              console.log("Checkbox is not checked..");

              
            }


            })









  


next.addEventListener("click", async (e) => {
    e.preventDefault();

    // وظائف إضافية مثل اختيار قيمة محددة
    var getSelectedValue2 = document.querySelector('input[name="c2"]:checked'); 
    var glasstypeValue = document.querySelector('input[name="q1"]:checked');    

    // التأكد من صحة كتابة الموقع والفرع ومنع الإرسال إذا هي غير مكتملة
    const branch = document.getElementById('branch');
    const branchError = document.getElementById('branchError');
    const locationInput = document.getElementById('locationId');
    const locationError = document.getElementById('locationError');
    const pattern = /^https:\/\/maps\.app\.goo\.gl\/[A-Za-z0-9]+$/;

    let isValid = true;

    if (branch.value === "") {
        branchError.style.display = 'block';
        branch.classList.add('is-invalid'); // إضافة إطار أحمر
        isValid = false;
    } else {
        branchError.style.display = 'none';
        branch.classList.remove('is-invalid');
    }

    if (!pattern.test(locationInput.value)) {
        locationError.style.display = 'block';
        locationInput.classList.add('is-invalid'); // إضافة إطار أحمر
        isValid = false;
    } else {
        locationError.style.display = 'none';
        locationInput.classList.remove('is-invalid');
    }

    if (isValid) {
        // إذا كانت جميع الحقول صحيحة، أرسل الطلب
const res = await fetch("/edit-basic-measurement", {
    method: "POST",
    body: JSON.stringify({
        branch: branch.value,
        location: locationInput.value,
        aluminumCode0: getSelectedValue2 ? getSelectedValue2.value : "",
        aluminumThickness0: thickness.value,
        aluminumColorCode0: glassColorCodeId.value,
        glasstype0: glasstypeValue ? glasstypeValue.value : "",
        glassThickness0: glassThickness.value,
        glassColorCode0: glassColorCode.value,
        id: "<%= order._id %>"
    }),
    headers: { "Content-Type": "application/json" },
});

if (!res.ok) {
    const errorText = await res.text();
    console.error('Error:', errorText);
    return;
}

const data = await res.json();
console.log(data.id);
location.assign(`/view/<%=customerId %>`);
    }
});

</script>
</html>
