<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
  <script src="../js/color-modes.js"></script>
  <link rel="stylesheet" href="../bootstrap-icons-1.10.5/font/bootstrap-icons.min.css" />
  <link rel="shortcut icon" href="../img/ali.png" type="image/x-icon">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
  <meta name="generator" content="Hugo 0.112.5" />
  <title>Home page</title>


  <link rel="stylesheet" href="../css/overlay.css">
  <link href="../css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../css/dark-light.css"/>
  <link href="../css/sidebars.css" rel="stylesheet" />
  <link rel="stylesheet" href="../css/myStyle.css" />
  <style>
    .strikethrough {
      position: relative;
      color: red;
      text-decoration: line-through;
    }

    .strikethrough::after {
      content: "Deleted";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 0, 0, 0.1); /* اللون الأحمر الشفاف */
      color: red;
      font-size: 24px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      pointer-events: none;
      transform: translateY(-50%);
    }
  </style>
</head>
<body>

  <%- include('../components/overlay.ejs') %>

  <%- include('../components/dark-light.ejs') %>
  <main class="d-flex flex-nowrap">
    <%- include('../components/sidebar.ejs', {currentPage:"review"}) %>
    <section class="w-100">
      <%- include('../components/navbar.ejs') %>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">ورقة قياس</a>
        </li>
        <li class="nav-item">
          <a href="../total-meters/<%= arrR._id %>" class="nav-link text-secondary-emphasis" aria-current="page">مجموع الأمتار</a>
        </li>
        <% if (permissions.some(permission => permission.name === 'price')) { %>
        <li class="nav-item">
          <a href="../price/<%= arrR._id %>" class="nav-link text-secondary-emphasis">التسعيرة</a>
        </li>
        <% } %>

        <% if (permissions.some(permission => permission.name === 'manufacturing_reports')) { %>

        <li class="nav-item">
          <a href="../total-materials/<%= arrR._id %>" class="nav-link text-secondary-emphasis" aria-disabled="true">كميات المواد</a>
        </li>
        <li class="nav-item">
          <a href="../glass-cutting/<%= arrR._id %>" class="nav-link text-secondary-emphasis" aria-disabled="true">تقرير قص الزجاج</a>
        </li>
        <li class="nav-item">
          <a href="../report-temper/<%= arrR._id %>" class="nav-link text-secondary-emphasis" aria-disabled="true">تقرير السكريت</a>
        </li>
        <li class="nav-item">
          <a href="../aluminum-cutting/<%= arrR._id %>" class="nav-link text-secondary-emphasis" aria-disabled="true">تقرير قص الألمنيوم</a>
        </li>
        <% } %>

      </ul>
      <h6>Order Number: <%= arrR.orderNumber %></h6>
      <div class="grid gap-0 column-gap-3 col align-self-end" style="direction: rtl; margin: 16px;">
        <button id="deleteButton" <%= arrR.orderNumber ? "hidden" : '' %> type="button" class="btn btn-danger">حذف <i class="bi bi-trash"></i></button>
        <a <%= arrR.orderNumber ? "hidden" : '' %> href="../view/<%= idCustomer %>" type="button" class="btn btn-secondary">البقاء في المسودة <i class="bi bi-journal-text"></i></a>
        <a <%= arrR.orderNumber ? '' : "hidden" %> href="../view/<%= idCustomer %>" type="button" class="btn btn-secondary">العودة إلى صفحة العميل <i class="bi bi-arrow-left"></i></a>
        <form action="/review/<%= arrR._id %>" method="post" class="grid gap-0 column-gap-3 col align-self-end" style="direction: rtl; margin: 16px;">
          <!-- <input name="confirming" value="مؤكد" type="hidden" class="form-control" /> -->
          <!-- <input name="confirming2" value="قيد التصنيع" type="hidden" class="form-control" /> -->
          <input name="id" value="<%= arrR._id %>" type="hidden" class="form-control" />
          <input name="idCustomer" value="<%= idCustomer %>" type="hidden" class="form-control" />
          <input id="submitButton" type="<%= arrR.orderNumber ? 'hidden' : 'submit' %>" value="اعتماد الطلب" class="btn btn-success">
        </form>
      </div>
      <% if (permissions.some(permission => permission.name === 'add_edit_measurement')) { %>

      <a href="../measurement/<%= arrR._id %>" class="btn btn-primary mt-3 mb-3">إضافة قياس جديد <i class="bi bi-plus-lg"></i></a>
      <% } %>
      <table style="width: 99%" class="text-center mx-auto table mt-5 table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">height</th>
            <th scope="col">width</th>
            <th scope="col">fixed</th>
            <th scope="col">Aluminum code</th>
            <th scope="col">Aluminum color code</th>
            <th scope="col">Glass color code</th>
            <th scope="col">Temper</th>
            <th scope="col">Lip</th>
            <th scope="col">Design code</th>
            <th scope="col">Thickness</th>
            <th scope="col">Comments</th>
            <th scope="col">داخلي/خارجي</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="kk">
          <% arrR.measurement.forEach((item, index) => { %>
            <tr id="measurement-<%= item._id %>" class="<%= item.delete ? 'strikethrough' : '' %>">
              <th scope="row"><%= item.sequenceNumber?item.sequenceNumber:index +1 %></th>
              <td><%= item.W %></td>
              <td><%= item.H %></td>
              <td></td>
              <td><%= item.aluminumCode %></td>
              <td><%= item.aluminumColorCode %></td>
              <td><%= item.glassColorCode %></td>
              <td><%= item.temper %></td>
              <td><%= item.lip %></td>
              <td>
                <img style="background-color: aliceblue; width: 100%; height: 100%; object-fit: cover;" src="<%= item.designCode %>" alt="Design Image" data-bs-toggle="modal" data-bs-target="#imageModal-<%= index %>">
                
                <!-- المودال لعرض الصورة بشكل كامل -->
                <div class="modal fade" id="imageModal-<%= index %>" tabindex="-1" aria-labelledby="imageModalLabel-<%= index %>" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content bg-white">
                      <div class="modal-header">
                        <h5 class="modal-title" id="imageModalLabel-<%= index %>">عرض الصورة</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <img src="<%= item.designCode %>" alt="Design Image" class="img-fluid">
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              
              <td><%= item.aluminumThickness %></td>
              <td><%= item.comments %></td>
              <td><%= item.insideOrOutside %></td>
              <td>
                <% if (permissions.some(permission => permission.name === 'add_edit_measurement')) { %>

                <a data-bs-toggle="tooltip" data-bs-title="Edit user" data-bs-placement="top" class="btn btn-primary btn-sm mx-auto" href="../measurement/<%= item._id %>">
                  <i class="bi bi-pencil"></i>
                </a>
                <% } %>

                <form id="delete-form-<%= item._id %>" style="display: inline;" action="/review/<%= item._id %>-<%= arrR._id %>?_method=DELETE" method="post">
                  <button data-bs-toggle="tooltip" data-bs-title="Delete user" data-bs-placement="top" class="btn btn-danger btn-sm mt-2">
                    <i class="bi bi-trash"></i>
                  </button>
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </section>
  </main>
  
</div>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/sidebars.js"></script>
  <script src="../js/main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../js/overlay.js"></script>
  



</body>
</html>
