<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" /> <meta
    name="author"
    content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
  />
  <link
  rel="stylesheet"
  href="../bootstrap-icons-1.10.5/font/bootstrap-icons.min.css"
/>
</head>
<body>
    <h1>هذه الصفحة للإحتبار فقط وسيتم حذفها</h1>




    <form style="display: inline;" action="/test" method="post">

   <button class="btn btn-success"> ارسال</button>
     
             <!-- <input -->
             <!-- id="but<%= //index %>"
             
               data-bs-toggle="tooltip"
               data-bs-title="إضافة خصم"
               data-bs-placement="top"
               class="btn btn-primary btn-sm "
               value="إضافة خصم"
               
               
             > -->
               <!-- <i class="bi bi-pencil"></i> -->
           <!-- </a> -->
             <!-- <form style="display: inline;" action="/price/<%=// arrR._id %>" method="post"> -->
             <!-- <input
            
             style="width: 100%;  display: none;"
             id="bb<%= //index %>"
            type="submit"
               data-bs-toggle="tooltip"
               data-bs-title="تأكيد"
               data-bs-placement="top"
               class="btn btn-success btn-sm"
               value="تأكيد"
             > -->
               <!-- <i class="bi bi-trash"></i> -->
             <!-- </button> -->
             <h3>arrMM.iid:<%= arrMM.iid %></h3>
     <h3>arrMM._id:<%= arrMM._id %></h3>
     <h3>arrR._id:<%= arrR._id %></h3>
             <input type="hidden" name="iid" value="<%= arrR._id %>">
             <h6>code in data: <%= arrMM.aluminumCode %></h6>
             <input type="test" name="aluminumCode" value="GOLF10">
           </form>
</body>
<script src="../js/bootstrap.bundle.min.js"></script>
</html>