<!DOCTYPE html>
<html lang="ar" data-bs-theme="auto">
<head>
    <script src="/admin/public/js/theme-toggle.js"></script>
    <link rel="stylesheet" href="/admin/public/bootstrap-icons-1.10.5/font/bootstrap-icons.min.css" />
    <link rel="shortcut icon" href="/admin/public/img/ali.png" type="image/x-icon">
    <meta charset="utf-8" />
    <title>لوحة التحكم</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/admin/public/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/admin/public/css/dark-light.css"/>
    <link href="/admin/public/css/dashboard.css" rel="stylesheet" />
    <style>
        .sidebar {
            position: fixed;
            top: 0;
            right: 0;
            height: 100%;
            width: 250px;
            background-color: var(--sidebar-bg-color);
            padding-top: 20px;
            transition: width 0.3s;
        }
        .small-sidebar {
            width: 80px;
        }
        .content {
            margin-right: 260px;
            width: calc(100% - 270px);
            background-color: var(--content-bg-color);
        }
        .small-content {
            margin-right: 90px;
            width: calc(100% - 100px);
        }
        .navbar {
            margin-right: 260px;
            background-color: var(--navbar-bg-color);
        }
        .small-navbar {
            margin-right: 90px;
        }
        .sidebar-divider {
            position: fixed;
            top: 0;
            right: 250px;
            height: 100%;
            width: 10px;
            background-color: var(--divider-bg-color);
        }
        .small-sidebar-divider {
            right: 80px;
        }
        .sidebar .logo-img {
            height: 50px;
            width: 50px;
        }
        .sidebar .factory-img {
            height: 40px;
            width: 40px;
        }
        .sidebar ul.nav.nav-pills {
            list-style: none;
            padding: 0;
        }
        .sidebar ul.nav.nav-pills .nav-item {
            text-align: right;
        }
        .small-sidebar .sidebar-text,
        .small-sidebar .ui-switch-container {
            display: none;
        }
        .small-sidebar #themeToggleLabelSidebar {
            display: none;
        }
        .ui-switch {
            --switch-bg: rgb(135, 150, 165);
            --switch-width: 30px;
            --switch-height: 15px;
            --circle-diameter: 20px;
            --circle-bg: rgb(0, 56, 146);
            --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
        }
        .ui-switch input {
            display: none;
        }
        .slider {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: var(--switch-width);
            height: var(--switch-height);
            background: var(--switch-bg);
            border-radius: 999px;
            position: relative;
            cursor: pointer;
        }
        .slider .circle {
            top: calc(var(--circle-inset) * -1);
            left: 0;
            width: var(--circle-diameter);
            height: var(--circle-diameter);
            position: absolute;
            background: var(--circle-bg);
            border-radius: inherit;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwMDAtNC44NjIgNC44NkE0Ljg3MiA0Ljg3MiAwIDAwMTAgMTQuODYyIDQuODcyIDQuODcyIDAgMDAxNC44NiAxMCA0Ljg3MiA0Ljg3MiAwIDAwMTAgNS4xMzl6bTAgMS4zODlBMy40NjIgMy40NjIgMCAwMTEzLjQ3MSAxMGEzLjQ2MiAzLjQ2MiAwIDAxLTMuNDczIDMuNDcyQTMuNDYyIDMuNDYyIDAgMDE2LjUyNyAxMCAzLjQ2MiAzLjQ2MiAwIDAxMTAgNi41Mjh6TTEuNjY1IDkuMzA1djEuMzloMi4wODN2LTEuMzlIMS42NjZ6bTE0LjU4MyB2MS4zOWgyLjA4NHYtMS4zOWgtMi4wODR6TTUuMDkgMTMuOTI4TDMuNjE2IDE1LjRsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyeW05LjgyMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
            background-repeat: no-repeat;
            background-position: center center;
            -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
        }
        .slider .circle::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.75);
            border-radius: inherit;
            -webkit-transition: all 500ms;
            -o-transition: all 500ms;
            transition: all 500ms;
            opacity: 0;
        }
        .ui-switch input:checked+.slider .circle {
            left: calc(100% - var(--circle-diameter));
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
        }
        .ui-switch input:active+.slider .circle::before {
            -webkit-transition: 0s;
            -o-transition: 0s;
            transition: 0s;
            opacity: 1;
            width: 0;
            height: 0;
        }
    </style>
</head>
<body dir="rtl">
    <header>
        <%- include('components/navbar.ejs') %>
    </header>
    <main>
        <div id="sidebar-divider" class="sidebar-divider"></div>
        <%- include('components/sidebar.ejs', {currentPage:"editPrices"}) %>
        <section id="content" class="content p-4 mt-4">
            <div class="theme-toggle-container text-end">
                <button class="btn btn-light btn-toggle" data-bs-theme-value="light">
                    <i class="bi bi-sun"></i> الوضع النهاري
                </button>
                <button class="btn btn-dark btn-toggle" data-bs-theme-value="dark">
                    <i class="bi bi-moon"></i> الوضع الليلي
                </button>
            </div>
            <h1 class="mt-4">تحديث الأسعار</h1>
            
         <!-- حقل TAX منفصل عن باقي الحقول -->
         <form action="/admin/editPrices" method="post">

         <div class="mb-4">
    <h3>الضريبة (TAX)</h3>
    <div class="mb-3">
        <label for="TAX" class="form-label">TAX</label>
        <input type="number" class="form-control arabic-to-english" id="TAX" name="TAX" value="<%= tax %>">
    </div>
</div>
<br>
<br>
<h3>القطاعات</h3>
            <!-- الحقول الأخرى -->
            <!-- <form action="/admin/editPrices" method="post"> -->
                <div class="mb-3">
                    <label for="slidingD10" class="form-label">slidingD10</label>
                    <input type="number" class="form-control arabic-to-english" id="slidingD10" name="price[slidingD10]" value="<%= prices.slidingD10 %>">
                </div>
                <div class="mb-3">
                    <label for="slidingD10b" class="form-label">slidingD10b</label>
                    <input type="number" class="form-control arabic-to-english" id="slidingD10b" name="price[slidingD10b]" value="<%= prices.slidingD10b %>">
                </div>
                <div class="mb-3">
                    <label for="slidingD12" class="form-label">slidingD12</label>
                    <input type="number" class="form-control arabic-to-english" id="slidingD12" name="price[slidingD12]" value="<%= prices.slidingD12 %>">
                </div>
                <div class="mb-3">
                    <label for="slidingS" class="form-label">slidingS</label>
                    <input type="number" class="form-control arabic-to-english" id="slidingS" name="price[slidingS]" value="<%= prices.slidingS %>">
                </div>
                <div class="mb-3">
                    <label for="interruptT" class="form-label">interruptT</label>
                    <input type="number" class="form-control arabic-to-english" id="interruptT" name="price[interruptT]" value="<%= prices.interruptT %>">
                </div>
                <div class="mb-3">
                    <label for="interrupt" class="form-label">interrupt</label>
                    <input type="number" class="form-control arabic-to-english" id="interrupt" name="price[interrupt]" value="<%= prices.interrupt %>">
                </div>
                <div class="mb-3">
                    <label for="fixedD10" class="form-label">fixedD10</label>
                    <input type="number" class="form-control arabic-to-english" id="fixedD10" name="price[fixedD10]" value="<%= prices.fixedD10 %>">
                </div>
                <div class="mb-3">
                    <label for="fixedD4" class="form-label">fixedD4</label>
                    <input type="number" class="form-control arabic-to-english" id="fixedD4" name="price[fixedD4]" value="<%= prices.fixedD4 %>">
                </div>
                <div class="mb-3">
                    <label for="fixedS10" class="form-label">fixedS10</label>
                    <input type="number" class="form-control arabic-to-english" id="fixedS10" name="price[fixedS10]" value="<%= prices.fixedS10 %>">
                </div>
                <div class="mb-3">
                    <label for="fixedS4" class="form-label">fixedS4</label>
                    <input type="number" class="form-control arabic-to-english" id="fixedS4" name="price[fixedS4]" value="<%= prices.fixedS4 %>">
                </div>
                <div class="mb-3">
                    <label for="SG50" class="form-label">SG50</label>
                    <input type="number" class="form-control arabic-to-english" id="SG50" name="price[SG50]" value="<%= prices.SG50 %>">
                </div>
                <div class="mb-3">
                    <label for="SMART" class="form-label">SMART</label>
                    <input type="number" class="form-control arabic-to-english" id="SMART" name="price[SMART]" value="<%= prices.SMART %>">
                </div>
                <div class="mb-3">
                    <label for="FORTICKS" class="form-label">FORTICKS</label>
                    <input type="number" class="form-control arabic-to-english" id="FORTICKS" name="price[FORTICKS]" value="<%= prices.FORTICKS %>">
                </div>
                <div class="mb-3">
                    <label for="SKYLIGHT" class="form-label">SKYLIGHT</label>
                    <input type="number" class="form-control arabic-to-english" id="SKYLIGHT" name="price[SKYLIGHT]" value="<%= prices.SKYLIGHT %>">
                </div>
                <div class="mb-3">
                    <label for="SKYLIGHT_FOR_WALK" class="form-label">SKYLIGHT_FOR_WALK</label>
                    <input type="number" class="form-control arabic-to-english" id="SKYLIGHT_FOR_WALK" name="price[SKYLIGHT_FOR_WALK]" value="<%= prices.SKYLIGHT_FOR_WALK %>">
                </div>
                <div class="mb-3">
                    <label for="T8CM" class="form-label">T8CM</label>
                    <input type="number" class="form-control arabic-to-english" id="T8CM" name="price[T8CM]" value="<%= prices.T8CM %>">
                </div>
                <div class="mb-3">
                    <label for="T10CM" class="form-label">T10CM</label>
                    <input type="number" class="form-control arabic-to-english" id="T10CM" name="price[T10CM]" value="<%= prices.T10CM %>">
                </div>
                <div class="mb-3">
                    <label for="FLAT" class="form-label">FLAT</label>
                    <input type="number" class="form-control arabic-to-english" id="FLAT" name="price[FLAT]" value="<%= prices.FLAT %>">
                </div>
                <div class="mb-3">
                    <label for="SLICES_DOOR" class="form-label">SLICES_DOOR</label>
                    <input type="number" class="form-control arabic-to-english" id="SLICES_DOOR" name="price[SLICES_DOOR]" value="<%= prices.SLICES_DOOR %>">
                </div>
                <div class="mb-3">
                    <label for="DOUBLE_GLASS_DOOR" class="form-label">DOUBLE_GLASS_DOOR</label>
                    <input type="number" class="form-control arabic-to-english" id="DOUBLE_GLASS_DOOR" name="price[DOUBLE_GLASS_DOOR]" value="<%= prices.DOUBLE_GLASS_DOOR %>">
                </div>
                <button type="submit" class="btn btn-primary">تحديث الأسعار</button>
            </form>
        </section>
    </main>
    <script src="/admin/public/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/public/js/main.js"></script>
    <script>
        function convertArabicNumbersToEnglish(input) {
            return input.replace(/[٠-٩]/g, function (d) {
                return d.charCodeAt(0) - 1632;
            }).replace(/[۰-۹]/g, function (d) {
                return d.charCodeAt(0) - 1776;
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            const inputs = document.querySelectorAll('.arabic-to-english');

            // تحويل الأرقام العربية إلى إنجليزية عند تحميل الصفحة
            inputs.forEach(input => {
                input.value = convertArabicNumbersToEnglish(input.value);
            });

            inputs.forEach(input => {
                input.addEventListener('input', function () {
                    // تحويل الأرقام العربية إلى الإنجليزية أثناء الكتابة
                    this.value = convertArabicNumbersToEnglish(this.value);
                });

                input.addEventListener('keypress', function (e) {
                    // السماح فقط بإدخال الأرقام
                    if (e.which < 48 || e.which > 57) {
                        e.preventDefault();
                    }
                });
            });
        });
    </script>
</body>
</html>
